.background-image {
    background-image: url("/Waifu Website/background_image/Ai_00.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* Additional styles for positioning, size, etc. */
  }
  